.Item {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 100%;  
}

.Item-buttons {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    width: 30%;  
}

.Item-text {
    width: 70%;
    color: black;
    font-weight: normal;
    word-break: break-all;
}