@media screen and (max-width: 540px) {
    .TabComplete {
        display: block;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (min-width: 540px) {
    .TabComplete {
        display: block;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        width: 50%;
    }
}


